@model WebApplication_SRPFIQ.Models.Requests

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Demande @Html.DisplayFor(m=> m.ID)</h4>
    <hr />
    <dl class="row">
     @*    <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FolioNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FolioNumber)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalCoverage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalCoverage)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedRequestAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedRequestAt)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
      @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
       @*  <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDeliveryDate)
        </dd>
      @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbPregnancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbPregnancy)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMonoparental)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMonoparental)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpokenLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpokenLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImmigrationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImmigrationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbChilds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbChilds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildsAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildsAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserClosedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserClosedBy.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model?.ID">Back to List</a>
</div>
