@* @model IEnumerable<WebApplication_SRPFIQ.Models.Requests> *@
@model WebApplication_SRPFIQ.ViewModels.RequestUserViewModel

@{
    ViewData["Title"] = "Index";
    bool doula = (Model.UserDTO.Role == "Doulas" ? true : false);
    //string title = (lectureSeule ? $"Suivi {Model.Numero}" : "Ajout d'une note de suivi");
}

<h1>Mes demandes</h1>

<p>
    <div class="text-end">
        <button>En cours</button>
        <button>Terminée</button>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
         @*    <th>
                @Html.DisplayNameFor(model => model.ID)
            </th> *@
            <th>
                Demande
            </th>
            <th>
                 Nom de la maman
            </th>

            <th>
                 DPA
            </th>

            <th hidden="@(!doula ? null :"hidden")">
                 Date dernier suivi
            </th>

            <th>
                 Évaluation
            </th>
            <th>
                 Vécu marternel
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RequestRelaiDTO) {
        <tr>
               @*  <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.NumberFolio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameMother)
            </td>
             
            <td>
                @Html.DisplayFor(modelItem => item.DPA)
            </td>
                <td hidden="@(!doula ? null :"hidden")">
                    @Html.DisplayFor(modelItem => item.DateDernierSuivi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evaluation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VecuMaternel)
                </td>
               
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Consulter</a> |
                    <a asp-action="Create" asp-route-id="@item.ID" asp-controller="Meetings" hidden="@(!doula ? null :"hidden")">Ajouter un suivi</a>
                    <a asp-action="Create" asp-controller="MedicalNotes" hidden="@(!doula ? "hidden" : null)">Ajouter une intervention médicale</a>
            </td>
        </tr>
}
    </tbody>
</table>
