@* @model IEnumerable<WebApplication_SRPFIQ.Models.Requests> *@
@model IEnumerable<WebApplication_SRPFIQ.DTOs.RequestRelaiDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Mes demandes</h1>

<p>
    <div class="text-end">
        <button>En cours</button>
        <button>Terminée</button>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
         @*    <th>
                @Html.DisplayNameFor(model => model.ID)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.NumberFolio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameMother)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.MedicalCoverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedRequestAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.DPA)
            </th>

            <th>
                @Html.DisplayNameFor(model=> model.DateDernierSuivi)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Evaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VecuMaternel)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.NbPregnancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMonoparental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpokenLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImmigrationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbChilds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildsAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserClosedBy)
            </th>
            <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
               @*  <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.NumberFolio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameMother)
            </td>
             
           @*  <td>
                @Html.DisplayFor(modelItem => item.MedicalCoverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedRequestAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.DPA)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDernierSuivi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evaluation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VecuMaternel)
                </td>
               
            @* <td>
                @Html.DisplayFor(modelItem => item.NbPregnancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMonoparental)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpokenLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImmigrationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbChilds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildsAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserClosedBy.FirstName)
            </td> *@
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Consulter</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Ajouter un suivi</a>
            </td>
        </tr>
}
    </tbody>
</table>
