@model WebApplication_SRPFIQ.ViewModel.ResourceDetailsViewModel

@{
    ViewData["Title"] = "Details de la ressource";
}

<h1>Details de la ressource</h1>

<div>
    <h4>Resources</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class="col-sm-3">Categories</dt>
        <dd class="col-sm-9">
            @if (Model.Categories.Any())
            {
                <ul>
                    @foreach (var categorie in Model.Categories)
                    {
                        <li>@categorie</li>
                    }
                </ul>
            }
            else
            {
                <span>Aucun</span>
            }
        </dd>
        <dt class="col-sm-3">Autobus</dt>
         <dd class="col-sm-9"> 
             @if (Model.BusNearBy.Any()) 
             { 
                 <ul> 
                     @foreach (var bus in Model.BusNearBy) 
                     { 
                         <li>@bus</li> 
                     } 
                 </ul> 
             } 
             else 
             { 
                 <span>Aucun</span> 
             } 
         </dd> 

        <dt class="col-sm-3">Horaires</dt>
        <dd class="col-sm-9">
            @if (Model.businessHours.Any())
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Jour</th>
                            <th>Ouverture</th>
                            <th>Fermeture</th>
                        </tr>
                    </thead>
                     <tbody> 
                         @foreach (var horaire in Model.businessHours) 
                         { 
                             <tr> 
                                 <td>@horaire.DayOfWeek</td> 
                                 <td>@horaire.OpeningTime</td> 
                                 <td>@horaire.ClosingTime</td> 
                             </tr> 
                         } 
                     </tbody> 
                </table>
            }
            else
            {
                <p>Aucun horaire défini.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
