@model IEnumerable<WebApplication_SRPFIQ.Models.Questionnaires>

@{
    ViewData["Title"] = "Questionnaires";
}

<h1>Questionnaires</h1>

<p>
    <a asp-action="Create" class="btn-link">Ajouter un Questionnaire</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" title="Modifier">
                        <i class="fas fa-edit text-primary"></i>
                    </a>
                    <form asp-action="ToggleActive" asp-route-id="@item.ID" method="post" class="d-inline ">
                        <button type="submit" title="@(item.Active ? "Désactiver" : "Activer")" class="btn btn-link p-0 m-0 align-baseline">
                            <i class="fas @(item.Active ? "fa-toggle-on text-success" : "fa-toggle-off text-danger")"></i>
                        </button>
                    </form>

                    <a asp-action="Delete" asp-route-id="@item.ID" title="Supprimer" class="ml-2">
                        <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
