@model IEnumerable<WebApplication_SRPFIQ.Models.QuestionnaireAnswerResults>

@{
    ViewData["Title"] = "Index";
}

<h1>QuestionnaireAnswerResults</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionnaireAnswers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionnaireQuestions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionnaireAnswers.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionnaireQuestions.Instructions)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
